= form_for @bulk_books_import, url: [@bulk_books_import] do |f|
  = link_to_upload_file()
  .d-none
    = f.file_field :uploaded_file, label: 'CSV file'
    = f.submit :"Send File", class: 'btn btn-primary'