%h1 Import #{@bulk_books_import.uploaded_file_name}

= table_for @bulk_books_import.bulk_import_items, { partial: 'bulk_import_item' }, :title, :author, :isbn, :publisher, :publication_date, :errors

= link_to "Back", [:new, :bulk_books_import], class: "btn btn-info"
